.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.current-history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.history-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;
  background: #333;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0.8rem;
}

.history {
  margin: 0 0.5rem;
}

.current-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.board-container {
  position: relative;
  margin: 0 auto;
}

.board {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.other-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0.5rem 0;
}

.score {
  margin: 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.high-score {
  margin: 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0.5rem 0;
}

.time {
  margin: 0.5rem;
  color: white;
  font-size: 1.5rem;
}
