.white {
  background-color: #fff;
  width: 50px;
  height: 50px;
  font-size: 0.6rem;
  position: relative;
}

.green {
  background-color: #0f0;
  width: 50px;
  height: 50px;
  font-size: 0.6rem;
  position: relative;
}

.eight {
  color: #000;
}

.number {
  position: absolute;
  text-align: left;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.letter {
  position: absolute;
  text-align: right;
  margin: 0 0.2rem 0 0;
  padding: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 40rem) {
  .white {
    background-color: #fff;
    width: 75px;
    height: 75px;
    font-size: 0.6rem;
    position: relative;
  }

  .green {
    background-color: #0f0;
    width: 75px;
    height: 75px;
    font-size: 0.6rem;
    position: relative;
  }
}
