#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.other-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
